div.tiempo{

    display: inline-block;
    margin: 1.5%;
}
div.tiempo div{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.tiempo div h5{
    margin: 5%;
}
div.tiempo div h5:last-child{
    color: gray;
}
div.tiempo div{
    display: flex;
    align-content: center;

    justify-content: center;

}
div.tiempo h4{

    text-align: center;
}