div.tricolor{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

div.gris{
    background-color: gray;
}
div.amarillo{
    background-color: yellow;
}
div.verde{
    background-color: green;
}
div.rojo{
    background-color: red;
}